.loading {
    margin: 0;
    background: linear-gradient(180deg, #ff000f, #ff000f);
    animation: progress 2s ease-in;
    height: 0.2em;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.stopped {
    display: none;
}